<head>
  <meta name="robots" content="noindex,nofollow">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <!--[if lt IE 9]> 
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
  <![endif]-->
  <title>みずこーひーねっと|<%= @page_title %></title>
  <link rel="stylesheet" href="/main.css">
  <link href="https://fonts.googleapis.com/css?family=Quantico|Noto+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/font/font-awesome/css/font-awesome.min.css">
  <script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</head>