<header id="header">
      <div id="title">
        <h1 id="site-title">
          <a id="title-link" href="/index.html">みずこーひーねっと</a>
        </h1>
        <p class="site-subtitle"><%= @page_title %></p>
      </div>

      <nav id="global-navigation-wrapper">
        <ul id="global-navigation">
          <li class="list">
            <a href="/">
              <div class="pc">
                ホーム
              </div>
              <div class="sp">
                <span class="fa fa-home navi-sp"></span>
              </div>
            </a>
          </li>
          <li class="list">
            <a href="/books">
              <div class="pc">
                電子書籍管理システム
              </div>
              <div class="sp">
                <span class="fa fa-user navi-sp"></span>
              </div></a>
          </li>
        </ul>
      </nav>
      <div id="dummy-nav"></div>
    </header>